{% extends 'layouts/base_admin.html' %}

{% load staticfiles %}

{% block title %}Actividades{% endblock %}

{% block content %}

	<div class="titulo">
		<h1>Actividades</h1>
	</div>
	
	<div class="espacio"></div>

	<script>
	$(document).ready(function() {
		
		$('#calendario').fullCalendar({
			locale: 'es',
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			defaultDate: '{{fecha_actual|safe}}',
			navLinks: true,
			editable: false,
			eventLimit: true,
			events: [
				{% for actividad in lista_actividades %}
					{
					{{actividad|safe}},
					},
				{% endfor %}
			]
		});
		
	});
	</script>

	<div id="calendario"></div>

	<div class="espacio"></div>

	<div align="center">
	    <a href="{% url 'agenda_actividad_view' %}" class="btn btn-primary boton-extra-largo" role="button"><i class="fa fa-plus espacio-icono" aria-hidden="true"></i>Agregar nueva actividad</a>
	</div>
	
{% endblock %}