{% extends 'layouts/base_admin.html' %}

{% block title %}Borrar actividad{% endblock %}

{% block content %}

    <div class="titulo">
        <h1>Actividades</h1>
    </div>

	<div class="espacio"></div>
	
	<div class="jumbotron">
	  <form action="{% url 'agenda_actividad_delete' actividad.id %}" method="POST" name="form_actividades">
	  	{% csrf_token %}
        <fieldset>
            <div class="text-center">
                <h1>Eliminacíon</h1>
                <p class="lead">¿Estás seguro que deseas eliminar la actividad {{ actividad.titulo }} ?</p>
                <p class="lead">
                    <button type="submit" name="borrar_actividad" class="btn btn-danger boton-largo"><i class="fa fa-times espacio-icono" aria-hidden="true"></i>Borrar</button>
                    <a href="{% url 'agenda_actividad_list' %}" class="btn btn-primary boton-largo" role="button"><i class="fa fa-arrow-left espacio-icono" aria-hidden="true"></i>Volver</a>
                </p>
            </div>
        </fieldset>
	  </form>
	</div>

{% endblock %}