{% extends 'layouts/base_admin.html' %}

{% block title %}{{actividad.titulo}}{% endblock %}

{% block content %}

	<div class="titulo">
		<h1>Actividades</h1>
	</div>

	<div class="espacio"></div>
	
	<div class="card card-primary contenedor">
		<div class="card-header bg-primary">{{actividad.titulo}}</div>
		<div class="card-body">
			<div class="card-block">
				<div class="text-center">
					<div id="contenido">
						<p class="contenido">{% autoescape off %}{{actividad.contenido}}{% endautoescape %}</p>
					</div>
					<div class="mini-espacio"></div>
					<div id="fecha">
						<b>Fecha : </b>
						{{actividad.fecha|date:'d/m/Y'}}
					</div>
					<div class="mini-espacio"></div>
					<div id="hora">
						<b>Hora : </b>
						{% if actividad.hora %}
							{{actividad.hora}}
						{% else %}
							Todo el día
						{% endif %}
					</div>
					<div class="mini-espacio"></div>
					<div id="estado">
						<b>Estado : </b>
					    {% if actividad.esta_terminado %}
					    	<span class="azul">Actividad terminada</span>
					    {% else %}
					    	<span class="rojo">Actividad en proceso</span>
					    {% endif %}
					</div>
				    <div class="mini-espacio"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="espacio"></div>
	
	<div class="text-center">
	    <p class="lead">
	        <a href="{% url 'agenda_actividad_edit' actividad.id %}" class="btn btn-primary boton-largo" role="button"><i class="fa fa-pencil-square-o espacio-icono" aria-hidden="true"></i>Editar</a>
	        <a href="{% url 'agenda_actividad_delete' actividad.id %}" class="btn btn-primary boton-largo" role="button"><i class="fa fa-times espacio-icono" aria-hidden="true"></i>Borrar</a>
	        <a href="{% url 'agenda_actividad_list' %}" class="btn btn-primary boton-largo" role="button"><i class="fa fa-arrow-left espacio-icono" aria-hidden="true"></i>Volver</a>
	    </p>
	</div>

{% endblock %}