{% extends 'layouts/base_admin.html' %}

{% block title %}
	{% if nota.titulo %}
		{{nota.titulo}}
	{% else %}
		Agregar nota
	{% endif %}
{% endblock %}

{% block content %}

	<div class="titulo">
		<h1>Notas</h1>
	</div>

	<div class="espacio"></div>
	
	<div class="card card-primary contenedor">
		{% if nuevo %}
			<div class="card-header bg-primary">Agregar nota</div>
		{% else %}
			<div class="card-header bg-primary">Editando la nota {{ nota.titulo }}</div>
		{% endif %}
		<div class="card-body">
			<div class="card-block">
			  {% if nuevo %}
				<form action="{% url 'agenda_nota_view' %}" method="POST" class="needs-validation" novalidate="novalidate" id="notaForm">
		      {% else %}
		    	<form action="{% url 'agenda_nota_edit' nota.id %}" method="POST" class="needs-validation" novalidate="novalidate" id="notaForm">
		      {% endif %}
			  {% csrf_token %}
			  <fieldset>
				<legend>Datos</legend>
			    <div class="form-group" name="form-group-titulo">
			      <label>{{form.titulo.label}}</label>
				  {{form.titulo}}
	              <div class="invalid-feedback">
	                El título es requerido
	               </div>			  
			    </div>
			    <div class="form-group" name="form-group-contenido">
					<label>{{form.contenido.label}}</label>
					{{form.contenido}}
	              	<div class="invalid-feedback">
	                  El contenido es requerido
	                </div>
	            </div>
				<div class="mini-espacio"></div>
				<div class="text-center">
					<p class="lead">
	    				<a class="btn btn-info herramienta" name="agregar_centrar" role="button" data-toggle="tooltip" title="Centrar"><i class="fa fa-align-center" aria-hidden="true"></i></a>	
	    				<a class="btn btn-info herramienta" name="agregar_negrita" role="button" data-toggle="tooltip" title="Agregar negrita"><i class="fa fa-bold" aria-hidden="true"></i></a>								
	    				<a class="btn btn-info herramienta" name="agregar_url" role="button" data-toggle="tooltip" title="Agregar URL"><i class="fa fa-link" aria-hidden="true"></i></a>			  	
	    				<a class="btn btn-info herramienta" name="agregar_imagen" role="button" data-toggle="tooltip" title="Agregar imagen"><i class="fa fa-picture-o" aria-hidden="true"></i></a>
	    				<a class="btn btn-info herramienta" name="agregar_video" role="button" data-toggle="tooltip" title="Agregar video"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
	    				<a class="btn btn-info herramienta" name="agregar_lista" role="button" data-toggle="tooltip" title="Agregar lista"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
	    				<a class="btn btn-info herramienta" name="agregar_estado" role="button" data-toggle="tooltip" title="Agregar estado"><i class="fa fa-th-list" aria-hidden="true"></i></a>
	    				<a class="btn btn-info herramienta" name="mostrar_comandos" role="button" data-toggle="tooltip" title="Mostrar comandos"><i class="fa fa-info" aria-hidden="true"></i></a>
					</p>
				</div>
		    	<div class="mini-espacio"></div>
			    <div class="form-group" name="form-group-categoria">
			      <label>{{form.categoria.label}}</label>
				  {{form.categoria}}
	              <div class="invalid-feedback">
	                Seleccione una categoria
	               </div>				  
			    </div>
		        <div class="text-center">
		            <p class="lead">
						{% if nuevo %}
							<button type="submit" class="btn btn-primary boton-largo" name="agregar_nota"><i class="fa fa-plus espacio-icono" aria-hidden="true"></i>Agregar</button>
						{% else %}
							<button type="submit" class="btn btn-primary boton-largo" name="editar_nota"><i class="fa fa-pencil-square-o espacio-icono" aria-hidden="true"></i>Editar</button>
						{% endif %}
		                <a href="{% url 'agenda_nota_list' %}" class="btn btn-primary boton-largo" role="button"><i class="fa fa-arrow-left espacio-icono" aria-hidden="true"></i>Volver</a>
		            </p>
		        </div>
			  </fieldset>
			</form>
			</div>
		</div>
	</div>

{% endblock %}