{% extends 'layouts/base_admin.html' %}

{% block title %}Importar{% endblock %}

{% block content %}

  <div class="titulo">
    <h1>Importar</h1>
  </div>

  <div class="espacio"></div>

  <div class="card card-primary contenedor">
    <div class="card-header bg-primary">Importar datos</div>
      <div class="card-body">
          <div class="card-block">
            <form action="{% url 'agenda_importar' %}" method="POST" class="needs-validation" novalidate="novalidate" id="importarForm">
              {% csrf_token %}
              <fieldset>
                <legend>Datos</legend>
                <div class="form-group" name="form-group-directorio">
                  <label>{{form.directorio.label}}</label>
                  {{form.directorio}}
                  <div class="invalid-feedback">
                    El directorio es requerido
                  </div>              
                </div>
               <div class="text-center">
                  <p class="lead">
                    <button type="submit" name="importar" id="importar" class="btn btn-primary boton-largo">Importar</button>
                  </p>
                </div>                
              </fieldset>
            </form>
          </div>
    </div>
  </div>

{% endblock %}