{% extends 'layouts/base.html' %}

{% block title %}Ingreso{% endblock %}

{% block content %}
  <div class="panel ingreso panel-primary">
    <div class="panel-heading">Ingreso</div>
      <div class="panel-body">
          <form action="{% url 'agenda_ingreso' %}" method="POST" class="form-horizontal" id="ingresoForm">
            {% csrf_token %}
            <fieldset>
              <legend>Datos</legend>
              <div class="form-group" name="form-group-username">
                <label for="inputTexto1" class="col-lg-2 control-label">{{form.usuario.label}}</label>
                <div class="col-lg-10">
                  {{form.usuario}}
                </div>
              </div>
              <div class="form-group" name="form-group-password">
                <label for="inputTexto2" class="col-lg-2 control-label">{{form.clave.label}}</label>
                <div class="col-lg-10">
                  {{form.clave}}
                </div>
              </div>
              <div class="form-group">
                  <div class="col-md-4 col-md-offset-4">
                      <button type="submit" name="ingresar" id="ingresar" class="btn btn-primary btn-block">Ingresar</button>
                  </div>
              </div>
            </fieldset>
          </form>
    </div>
  </div>

  {% if messages %}
    {% for message in messages %}
      {% autoescape off %}{{ message }}{% endautoescape %}
    {% endfor %}
  {% endif %}

{% endblock %}