{% extends 'layouts/base.html' %}

{% block title %}Instalar{% endblock %}

{% block content %}

  <div class="titulo">
    <h1>Instalar Agenda Fénix</h1>
  </div>

  <div class="espacio"></div>

  <div class="card card-primary contenedor">
    <div class="card-header bg-primary">Crear usuario</div>
      <div class="card-body">
        <div class="card-block">
          <form action="{% url 'agenda_instalar' %}" method="POST" class="needs-validation" novalidate="novalidate" id="instalarForm">
            {% csrf_token %}
            <fieldset>
              <legend>Datos</legend>
              <div class="form-group" name="form-group-usuario">
                <label>{{form.nombre.label}}</label>
                {{form.nombre}}
                <div class="invalid-feedback">
                  El usuario es requerido
                </div>                  
              </div>
              <div class="form-group" name="form-group-clave">
                <label>{{form.clave.label}}</label>
                {{form.clave}}
                <div class="invalid-feedback">
                  La clave es requerida
                </div>        
              </div>
              <div class="text-center">
                <p class="lead">
                  <button type="submit" name="registrar" id="registrar" class="btn btn-primary boton-largo">Registrar</button>
                </p>
              </div>
            </fieldset>
          </form>
        </div>
    </div>
  </div>

{% endblock %}