@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Damion');

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    font-family: 'Damion';
    font-size: 25px !important;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
    margin-bottom: 100px; /* Footer space */
}

h1,h2,h3,h4,b,pre,fieldset,input,textarea,select,li {
    font-family: 'Damion';
}

pre{
    font-family: 'Damion';
    font-size: 25px;
    border: 0;
    background-color: transparent;
    white-space: pre-wrap;
    margin: 0;
    padding : 0;
}

pre ul {
    white-space: normal;
}

.list-group {
    margin-bottom: -30px;
}

input[type="text"],input[type="password"],input[type="search"],button[type="submit"],textarea,a {
  font-size:25px !important;
}

select {
  padding: 0px 10px !important;
  font-size:25px !important;  
}

select.input-sm {
  padding: 0px 10px !important;
  font-size:20px !important;
}

p,td,th {
  font-family: 'Damion' !important; 
  font-size:25px !important;
}

ul,li {
  font-family: 'Damion' !important; 
  font-size:25px !important;
}

label, .control-label {
    display: inline-block;
    margin-bottom: .5rem;
    font-weight: normal !important;
    padding: 0px 10px !important;
    font-size:25px !important;
}

legend{
    font-size: 25px; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  color:black;
}

.logo{
  padding:2rem 15px;
  margin-top: 3.2em;
  margin-bottom:1.5rem;
  color:white;
  text-align:center;
  background-repeat:no-repeat;
  background:url(../images/sierras.png) no-repeat;
  background-size: 100% 100%;
}

.ingreso {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
}

.cuenta {
  margin-left: 20%;
  margin-right: 20%;
}

.instalar {
  margin-left: 30%;
  margin-right: 30%;
}

.contenedor {
  margin-left: 10%;
  margin-right: 10%;
}

.nota {
  margin-left: 5%;
  margin-right: 5%;
}

#contenido {
  margin-top: 0.5em;
}

.centrar {
  margin-left: 5%;
  margin-right: 5%;
}

.centrar2 {
  margin-left: 1%;
  margin-right: 1%;
}

.tiny-space {
  margin-top: 1em;
}

.space {
  margin-top: 2em;
}

.double_space {
  margin-top: 5em;
}

.nbsp {
  padding-right : 10px
}

.agrandar_negrita {
  font-size:30px;
}

/* Carousel */

.carousel-inner > .item > img {
  width:100%;
  height:500px;
}

.item-text {
    position: absolute;
    top: 20%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.item-text h2 {
    color: white;
}

/* Tablas */

th {
  text-align: center;
  vertical-align: middle;
}

td {
  text-align: center;
  vertical-align: middle;
}

/* Más CSS */

.button_class {
    width: 150px;
}

.button_large {
    width: 300px;
}

.right_space {
    margin-right:5px;
}

/* Calendario */

.datetimepicker table tr td.disabled {
  color: red;
}

.datetimepicker table tr td.disabled:hover {
  color: red;
}

/* Botones */

.negro {
    color:black;
}

.agrandar {
    font-size: 1.4em;
}

.azul {
    color:#47A6FF;
}

.naranja {
    color:#FEB952;
}

.remarcar {
    font-weight: bold;
}

.select_class .form-control-feedback {
    position:relative !important;
    float: left;
    left:5px;
    top:-4px !important;
}

.centrar {
    text-align:center;
}

/* Botones centrados */

.btn-toolbar {
  display: inline-block;
}
.btn-toolbar .btn,.btn-toolbar .a {
  margin-bottom: 5px;
}

/* Fixed Select */

/*
.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border-color: #ccc !important;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: #E6E6E6 !important;
    border-color: #E6E6E6 !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  text-decoration: none !important;
  color: #333333 !important;
  background-color: #F5F5F5 !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus {
    color: #ffffff !important;
    text-decoration: none !important;
    outline: 0 !important;
    background-color: #e95420 !important;
}
*/

/* Auto complete */

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Links */

a  
{   
    text-decoration:none !important;   
}

/* Panels */

/*
.panel {
  border-color: #222222;
}

.panel > .panel-heading {
  background-color: #222222;
  border-color: #222222;
  color:white;
}
*/

/* Calendario */

#calendario {
  max-width: 80%;
  margin: 0 auto;
}

.fc-time,.fc-title {
  font-size: 18px;
}

/* Sweet Alert */

.sweet-alert { 
  font-family: 'Damion' !important;
  font-size:25px !important;
}

.sweet-alert button {
    font-size:23px !important;
}

/* Herramientas de contenido */

.herramienta {
  width: 50px;
  font-size: 20px !important;
}

/* Pagination */

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    color: #999999;
    background-color: #ffffff;
    border-color: #dddddd;
    cursor: not-allowed;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 10px 18px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #2780e3;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    margin-left: -1px;
}

/* Bootstrap validator */

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
    font-size: 25px !important;
}

/* Tablas */

.hide {
    display:none; 
}

.link-tabla {
    color:#333333;
}