{% extends 'layouts/base_admin.html' %}

{% block title %}Cambiar Usuario{% endblock %}

{% block content %}

	<h1 class="text-center">Cuenta</h1>
	<div class="space"></div>

	<div class="panel cuenta panel-primary">
	<div class="panel-heading">Cambiar Usuario</div>
	<div class="panel-body">
	  <form action="{% url 'agenda_cambiar_usuario' %}" method="POST" id="cambiarUsuarioForm" class="form-horizontal">
	  	{% csrf_token %}
	    <fieldset>
	      <legend>Datos</legend>
	      <div class="form-group" name="form-group-usuario">
	        <label for="inputNombre" class="col-lg-2 control-label">{{form.usuario.label}}</label>
	        <div class="col-lg-10">
	          {{form.usuario}}
	        </div>
	      </div>
	      <div class="form-group" name="form-group-nuevo-usuario">
	        <label for="inputNuevo" class="col-lg-2 control-label">{{form.nuevo_usuario.label}}</label>
	        <div class="col-lg-10">
	          {{form.nuevo_usuario}}
	        </div>
	      </div>
	      <div class="form-group" name="form-group-clave">
	        <label for="inputActual" class="col-lg-2 control-label">{{form.clave.label}}</label>
	        <div class="col-lg-10">
	          {{form.clave}}
	        </div>
	      </div>
	      <div class="form-group">
	          <button type="submit" class="btn btn-primary center-block" name="cambiar" id="cambiar"><i class="fa fa-pencil-square-o right_space" aria-hidden="true"></i>Realizar cambio</button>
	      </div>
	    </fieldset>
	  </form>        
	</div>
	</div>

	{% if messages %}
		{% for message in messages %}
			{% autoescape off %}{{ message }}{% endautoescape %}
		{% endfor %}
	{% endif %}

{% endblock %}