{% extends 'layouts/base_admin.html' %}

{% block title %}
	{% if categoria.nombre %}
		{{categoria.nombre}}
	{% else %}
		Agregar categoria
	{% endif %}
{% endblock %}

{% block content %}

	<h1 class="text-center">Categorias</h1>
	<div class="space"></div>
	
	<div class="panel contenedor panel-primary">
	{% if nuevo %}
		<div class="panel-heading">Agregar categoria</div>
	{% else %}
		<div class="panel-heading">Editando la categoria {{categoria.nombre}}</div>
	{% endif %}
	<div class="panel-body">
	{% if nuevo %}
		<form action="{% url 'agenda_categoria_view' %}" method="POST" id="categoriaForm" class="form-horizontal">
    {% else %}
    	<form action="{% url 'agenda_categoria_edit' categoria.id %}" method="POST" id="categoriaForm" class="form-horizontal">
    {% endif %}
	  {% csrf_token %}
	  <fieldset>
		<legend>Datos</legend>
	    <div class="form-group" name="form-group-nombre">
	      <label for="inputNombre" class="col-lg-2 control-label">{{form.nombre.label}}</label>
	      <div class="col-lg-10">
	        {{form.nombre}}
	      </div>
	    </div>
        <div class="text-center">
            <div class="btn-toolbar">
				{% if nuevo %}
					<button type="submit" class="btn btn-primary button_class center-block" name="agregar_categoria"><i class="fa fa-plus right_space" aria-hidden="true"></i>Agregar</button>
				{% else %}
					<button type="submit" class="btn btn-primary button_class center-block" name="editar_categoria"><i class="fa fa-pencil-square-o right_space" aria-hidden="true"></i>Editar</button>
				{% endif %}
                <a href="{% url 'agenda_categoria_list' %}" class="btn btn-primary button_class center-block" role="button"><i class="fa fa-arrow-left right_space" aria-hidden="true"></i>Volver</a>
            </div>
        </div>
	  </fieldset>
	</form>        
	</div>
	</div>

	{% if messages %}
		{% for message in messages %}
			{% autoescape off %}{{ message }}{% endautoescape %}
		{% endfor %}
	{% endif %}

{% endblock %}