{% extends 'layouts/base_admin.html' %}

{% load staticfiles %}

{% block title %}Categorias{% endblock %}

{% block content %}

	<h1 class="text-center">Categorias</h1>
	<div class="space"></div>

	{% if categorias %}
    <table id="tabla_categorias" class="table table-striped table-bordered" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>
			{% for categoria in categorias %}
			  <tr>
				<td><a class="link-tabla" href="{% url 'agenda_categoria_edit' categoria.id %}">{{categoria.nombre}}</a></td>
				<td>
					<a href="{% url 'agenda_categoria_edit' categoria.id %}"><img data-toggle="tooltip" src="{% static 'images/edit.png' %}" title="Editar"></a>
					<a href="{% url 'agenda_categoria_delete' categoria.id %}"><img data-toggle="tooltip" src="{% static 'images/delete.png' %}" title="Borrar"></a>
				</td>
			  </tr>
			{% endfor %}
        </tbody>
    </table>
	{% else %}
		<h3 class="text-center">No se encontraron categorias</h3>
	{% endif %}		

	<div class="space"></div>

	<div align="center">
	    <a href="{% url 'agenda_categoria_view' %}" class="btn btn-primary btn-block button_large" role="button"><i class="fa fa-plus right_space" aria-hidden="true"></i>Agregar nueva categoria</a>
	</div>

	{% if messages %}
		{% for message in messages %}
			{% autoescape off %}{{ message }}{% endautoescape %}
		{% endfor %}
	{% endif %}

{% endblock %}